@{
    ViewData["Title"] = "About Us";
}

<div class="text-center" style="margin-bottom: 40px;">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Lora">
    <h1 style="font-size: xx-large; font-weight: bold; color: darkslategrey; font-family: Ubuntu, sans-serif;">About Us</h1>
    <br/>
    <p style="font-size: x-large; font-weight: bold; color: darkslategrey; font-family: Ubuntu, sans-serif;">Welcome to the world of AgriEnergy Connect.
        The worlds leading green energy market place!</p>
    <p style="font-size: larger; font-weight: bold; color: darkslategrey; font-family: Ubuntu, sans-serif;">
        At AgriEnergy Connect, we believe that collaboration is the key to driving positive change and innovation in South Africa's agricultural sector. Our mission is to create an online green energy platform
        where farmers, employees, and industry stakeholders can connect, share knowledge, and work together towards a sustainable and prosperous future.</p>
</div>
<br />

